api = "0.8"

[buildpack]
  description = "A buildpack for installing the appropriate .NET Core SDK version"
  homepage = "https://github.com/paketo-buildpacks/dotnet-core-sdk"
  id = "paketo-buildpacks/dotnet-core-sdk"
  keywords = ["dotnet", "runtime"]
  name = "Paketo Buildpack for .NET Core SDK"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

  [[metadata.configurations]]
    build = true
    description = "specify a version of SDK to use"
    name = "BP_DOTNET_SDK_VERSION"
  [metadata.default-versions]
    dotnet-sdk = "8.*"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha512:633cb85673e3519c825532f780f6750ff24ed248ef8df68885540e510b559b6adc2c8d940e4c349fc0cf2c9caf184f1efeaccbc5e952d6e435f3da027cae4188"
    cpe = "cpe:2.3:a:microsoft:.net:8.0.416:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-10T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@8.0.416?checksum=633cb85673e3519c825532f780f6750ff24ed248ef8df68885540e510b559b6adc2c8d940e4c349fc0cf2c9caf184f1efeaccbc5e952d6e435f3da027cae4188&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.416/dotnet-sdk-8.0.416-linux-x64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.416/dotnet-sdk-8.0.416-linux-x64.tar.gz"
    source-checksum = "sha512:633cb85673e3519c825532f780f6750ff24ed248ef8df68885540e510b559b6adc2c8d940e4c349fc0cf2c9caf184f1efeaccbc5e952d6e435f3da027cae4188"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.416/dotnet-sdk-8.0.416-linux-x64.tar.gz"
    version = "8.0.416"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha512:e7b09ee70a627964df00a489b447782bffe9cd3443fb0a8eeae8105fcc0919a68d3c92008f1debe67df5b2ae6690ab8d657c5026bc950b88a253b4290c5f80a7"
    cpe = "cpe:2.3:a:microsoft:.net:8.0.416:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-10T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@8.0.416?checksum=e7b09ee70a627964df00a489b447782bffe9cd3443fb0a8eeae8105fcc0919a68d3c92008f1debe67df5b2ae6690ab8d657c5026bc950b88a253b4290c5f80a7&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.416/dotnet-sdk-8.0.416-linux-arm64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.416/dotnet-sdk-8.0.416-linux-arm64.tar.gz"
    source-checksum = "sha512:e7b09ee70a627964df00a489b447782bffe9cd3443fb0a8eeae8105fcc0919a68d3c92008f1debe67df5b2ae6690ab8d657c5026bc950b88a253b4290c5f80a7"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.416/dotnet-sdk-8.0.416-linux-arm64.tar.gz"
    version = "8.0.416"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha512:3aacff096524a1dae9bc035f71a6805fa7ec3430d395771fc1c85505165a78361ce2cc9c9c35433376e5c30aec37e2eb2e77de0a6ba7ddd7dc6053baf2c2709a"
    cpe = "cpe:2.3:a:microsoft:.net:9.0.308:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-10T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@9.0.308?checksum=3aacff096524a1dae9bc035f71a6805fa7ec3430d395771fc1c85505165a78361ce2cc9c9c35433376e5c30aec37e2eb2e77de0a6ba7ddd7dc6053baf2c2709a&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.308/dotnet-sdk-9.0.308-linux-x64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.308/dotnet-sdk-9.0.308-linux-x64.tar.gz"
    source-checksum = "sha512:3aacff096524a1dae9bc035f71a6805fa7ec3430d395771fc1c85505165a78361ce2cc9c9c35433376e5c30aec37e2eb2e77de0a6ba7ddd7dc6053baf2c2709a"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.308/dotnet-sdk-9.0.308-linux-x64.tar.gz"
    version = "9.0.308"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha512:21fbdcdcb8762f3579ef2a8ac5d92cb0db960901f1c30d037fa1652238ef606bfc7bffa2e51fcc83f94f3c2c7d5bee5dcfed4b66baa455ae3d38681e264d23ff"
    cpe = "cpe:2.3:a:microsoft:.net:9.0.308:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-10T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@9.0.308?checksum=21fbdcdcb8762f3579ef2a8ac5d92cb0db960901f1c30d037fa1652238ef606bfc7bffa2e51fcc83f94f3c2c7d5bee5dcfed4b66baa455ae3d38681e264d23ff&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.308/dotnet-sdk-9.0.308-linux-arm64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.308/dotnet-sdk-9.0.308-linux-arm64.tar.gz"
    source-checksum = "sha512:21fbdcdcb8762f3579ef2a8ac5d92cb0db960901f1c30d037fa1652238ef606bfc7bffa2e51fcc83f94f3c2c7d5bee5dcfed4b66baa455ae3d38681e264d23ff"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.308/dotnet-sdk-9.0.308-linux-arm64.tar.gz"
    version = "9.0.308"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha512:0443602455d30af51c819d7805e9b45550101c3718acbb3ec5f991e73d18e79b18fb5bc7cdf77bc308936a96275176b23a56e96133e7de83ae60ca2240bc602f"
    cpe = "cpe:2.3:a:microsoft:.net:10.0.101:*:*:*:*:*:*:*"
    deprecation_date = "2028-11-14T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@10.0.101?checksum=0443602455d30af51c819d7805e9b45550101c3718acbb3ec5f991e73d18e79b18fb5bc7cdf77bc308936a96275176b23a56e96133e7de83ae60ca2240bc602f&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.101/dotnet-sdk-10.0.101-linux-x64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.101/dotnet-sdk-10.0.101-linux-x64.tar.gz"
    source-checksum = "sha512:0443602455d30af51c819d7805e9b45550101c3718acbb3ec5f991e73d18e79b18fb5bc7cdf77bc308936a96275176b23a56e96133e7de83ae60ca2240bc602f"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.101/dotnet-sdk-10.0.101-linux-x64.tar.gz"
    version = "10.0.101"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha512:9238f8d1acad38d143324b4099caa1d810fb57cf599f271e8872e1f5cd678aa53d4e8504ada9b8d47869f454a2f7a9699006a17ca0d750f09a13dd417448641c"
    cpe = "cpe:2.3:a:microsoft:.net:10.0.101:*:*:*:*:*:*:*"
    deprecation_date = "2028-11-14T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@10.0.101?checksum=9238f8d1acad38d143324b4099caa1d810fb57cf599f271e8872e1f5cd678aa53d4e8504ada9b8d47869f454a2f7a9699006a17ca0d750f09a13dd417448641c&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.101/dotnet-sdk-10.0.101-linux-arm64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.101/dotnet-sdk-10.0.101-linux-arm64.tar.gz"
    source-checksum = "sha512:9238f8d1acad38d143324b4099caa1d810fb57cf599f271e8872e1f5cd678aa53d4e8504ada9b8d47869f454a2f7a9699006a17ca0d750f09a13dd417448641c"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.101/dotnet-sdk-10.0.101-linux-arm64.tar.gz"
    version = "10.0.101"

  [[metadata.dependency-constraints]]
    constraint = "8.0.*"
    id = "dotnet-sdk"
    patches = 1

  [[metadata.dependency-constraints]]
    constraint = "9.0.*"
    id = "dotnet-sdk"
    patches = 1

  [[metadata.dependency-constraints]]
    constraint = "10.0.*"
    id = "dotnet-sdk"
    patches = 1

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
