api = "0.8"

[buildpack]
  description = "A buildpack for installing the appropriate .NET Core SDK version"
  homepage = "https://github.com/paketo-buildpacks/dotnet-core-sdk"
  id = "paketo-buildpacks/dotnet-core-sdk"
  keywords = ["dotnet", "runtime"]
  name = "Paketo Buildpack for .NET Core SDK"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

  [[metadata.configurations]]
    build = true
    description = "specify a version of SDK to use"
    name = "BP_DOTNET_SDK_VERSION"
  [metadata.default-versions]
    dotnet-sdk = "8.*"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha512:fbd9fc9f0bca73f771e79c12d721a18da97ba23c43794b941b110ccaac0fcd16156c996a5b9cfc0650120601791f2909e93ecb268f687c7b82889934c766c2b9"
    cpe = "cpe:2.3:a:microsoft:.net:8.0.418:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-10T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@8.0.418?checksum=fbd9fc9f0bca73f771e79c12d721a18da97ba23c43794b941b110ccaac0fcd16156c996a5b9cfc0650120601791f2909e93ecb268f687c7b82889934c766c2b9&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.418/dotnet-sdk-8.0.418-linux-x64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.418/dotnet-sdk-8.0.418-linux-x64.tar.gz"
    source-checksum = "sha512:fbd9fc9f0bca73f771e79c12d721a18da97ba23c43794b941b110ccaac0fcd16156c996a5b9cfc0650120601791f2909e93ecb268f687c7b82889934c766c2b9"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.418/dotnet-sdk-8.0.418-linux-x64.tar.gz"
    version = "8.0.418"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha512:9193c9a77a5eedfac24974160e9b2d95865e88c8c4f0741042d2ebb4bc3317bf341ecb974ac6dad91c10d7adee22db717b35d3fef686f5aad67f4aff44574033"
    cpe = "cpe:2.3:a:microsoft:.net:8.0.418:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-10T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@8.0.418?checksum=9193c9a77a5eedfac24974160e9b2d95865e88c8c4f0741042d2ebb4bc3317bf341ecb974ac6dad91c10d7adee22db717b35d3fef686f5aad67f4aff44574033&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.418/dotnet-sdk-8.0.418-linux-arm64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.418/dotnet-sdk-8.0.418-linux-arm64.tar.gz"
    source-checksum = "sha512:9193c9a77a5eedfac24974160e9b2d95865e88c8c4f0741042d2ebb4bc3317bf341ecb974ac6dad91c10d7adee22db717b35d3fef686f5aad67f4aff44574033"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/8.0.418/dotnet-sdk-8.0.418-linux-arm64.tar.gz"
    version = "8.0.418"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha512:ef6239f4b56a08bfd1eda82f877b9350d8b98d248a693c1ec4af85a2f09db19556f7cc4d4b2d3a8ff0cf9e0fcaebb3ec8daabe1774aff346740aacf4bb1e136f"
    cpe = "cpe:2.3:a:microsoft:.net:9.0.311:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-10T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@9.0.311?checksum=ef6239f4b56a08bfd1eda82f877b9350d8b98d248a693c1ec4af85a2f09db19556f7cc4d4b2d3a8ff0cf9e0fcaebb3ec8daabe1774aff346740aacf4bb1e136f&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.311/dotnet-sdk-9.0.311-linux-x64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.311/dotnet-sdk-9.0.311-linux-x64.tar.gz"
    source-checksum = "sha512:ef6239f4b56a08bfd1eda82f877b9350d8b98d248a693c1ec4af85a2f09db19556f7cc4d4b2d3a8ff0cf9e0fcaebb3ec8daabe1774aff346740aacf4bb1e136f"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.311/dotnet-sdk-9.0.311-linux-x64.tar.gz"
    version = "9.0.311"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha512:58ce76d1cce856eb64a284b3b4a4d1675578be0d6ece4c54987c5531f3ade7096084d9d85ca1af2ee28361918e8dba24f230fecce9145a4ea67ecfb66e436d3c"
    cpe = "cpe:2.3:a:microsoft:.net:9.0.311:*:*:*:*:*:*:*"
    deprecation_date = "2026-11-10T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@9.0.311?checksum=58ce76d1cce856eb64a284b3b4a4d1675578be0d6ece4c54987c5531f3ade7096084d9d85ca1af2ee28361918e8dba24f230fecce9145a4ea67ecfb66e436d3c&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.311/dotnet-sdk-9.0.311-linux-arm64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.311/dotnet-sdk-9.0.311-linux-arm64.tar.gz"
    source-checksum = "sha512:58ce76d1cce856eb64a284b3b4a4d1675578be0d6ece4c54987c5531f3ade7096084d9d85ca1af2ee28361918e8dba24f230fecce9145a4ea67ecfb66e436d3c"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/9.0.311/dotnet-sdk-9.0.311-linux-arm64.tar.gz"
    version = "9.0.311"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha512:bab94f13c57b2ac821d4924fe66084be9b44c41761ff7ff64522c8f7aba345659d31258401dcec31cc3cf6ccae1d012623075aca1c9b9165bcfe5ba9abda1c0c"
    cpe = "cpe:2.3:a:microsoft:.net:10.0.103:*:*:*:*:*:*:*"
    deprecation_date = "2028-11-14T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@10.0.103?checksum=bab94f13c57b2ac821d4924fe66084be9b44c41761ff7ff64522c8f7aba345659d31258401dcec31cc3cf6ccae1d012623075aca1c9b9165bcfe5ba9abda1c0c&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.103/dotnet-sdk-10.0.103-linux-x64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.103/dotnet-sdk-10.0.103-linux-x64.tar.gz"
    source-checksum = "sha512:bab94f13c57b2ac821d4924fe66084be9b44c41761ff7ff64522c8f7aba345659d31258401dcec31cc3cf6ccae1d012623075aca1c9b9165bcfe5ba9abda1c0c"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.103/dotnet-sdk-10.0.103-linux-x64.tar.gz"
    version = "10.0.103"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha512:ab45b6baeae956e4465151787d8b8113b66679ed55da1e72c57e99aa5ab8f42471e80dc8a5fd22c31df74e60446a3b252d2900658cefc9506fcb0da7e2831e21"
    cpe = "cpe:2.3:a:microsoft:.net:10.0.103:*:*:*:*:*:*:*"
    deprecation_date = "2028-11-14T00:00:00Z"
    id = "dotnet-sdk"
    licenses = ["MIT", "MIT-0"]
    name = ".NET Core SDK"
    os = "linux"
    purl = "pkg:generic/dotnet-core-sdk@10.0.103?checksum=ab45b6baeae956e4465151787d8b8113b66679ed55da1e72c57e99aa5ab8f42471e80dc8a5fd22c31df74e60446a3b252d2900658cefc9506fcb0da7e2831e21&download_url=https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.103/dotnet-sdk-10.0.103-linux-arm64.tar.gz"
    source = "https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.103/dotnet-sdk-10.0.103-linux-arm64.tar.gz"
    source-checksum = "sha512:ab45b6baeae956e4465151787d8b8113b66679ed55da1e72c57e99aa5ab8f42471e80dc8a5fd22c31df74e60446a3b252d2900658cefc9506fcb0da7e2831e21"
    stacks = ["*"]
    uri = "https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.103/dotnet-sdk-10.0.103-linux-arm64.tar.gz"
    version = "10.0.103"

  [[metadata.dependency-constraints]]
    constraint = "8.0.*"
    id = "dotnet-sdk"
    patches = 1

  [[metadata.dependency-constraints]]
    constraint = "9.0.*"
    id = "dotnet-sdk"
    patches = 1

  [[metadata.dependency-constraints]]
    constraint = "10.0.*"
    id = "dotnet-sdk"
    patches = 1

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
