name: Trigger Compatibility Table Updates

on:
  pull_request:
    branches:
    - main

jobs:
  versions:
    name: Get Newly Added Versions
    if: ${{ github.head_ref == 'automation/dependencies/update' }} && contains(github.event.pull_request.title, 'Updates buildpack.toml with new dependency versions:')
    runs-on: ubuntu-latest
    outputs:
      sdk_versions: ${{ steps.parse.outputs.versions }}
    steps:
    - name: 'Parse SDK Versions'
      id: parse
      run: |
        versions="$(echo ${{ github.event.pull_request.title }} | cut -d':' -f2-)"
        echo "::set-output name=parse::${versions}"

  update:
    name: Update SDK Compatibility Table
    runs-on: ubuntu-latest
    steps:
    - name: Generate Entry
      id: single-entry
      run: |
        IFS=', ' read -r -a versions <<< ${{ steps.versions.outputs.sdk_versions }}
        for index in ${!versions[@]}; do
          echo ${versions[index]}

          curl -X POST \
            https://api.github.com/repos/${GITHUB_REPOSITORY}/dispatches \
            -H "Accept: application/vnd.github.everest-preview+json" \
            -H "Content-Type: application/json" \
            -H "Authorization: token ${{ secrets.PAKETO_BOT_GITHUB_TOKEN }}" \
            -d "{ \
                  \"event_type\": \"compatibility-table-update", \
                  \"client_payload\": { \
                    \"data\": { \
                      \"version\": \"${versions[index]}\" \
                     } \
                   } \
                 }"
        done
